



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  height: auto;
  width: 100%;
  color: #FFFFFF;
  /* #0a1e36 */
  /* darker blue #021224 maybe try linear later */
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}
